body{ 
    margin: 0; 
    padding: 0;
    background: url("../images/graybg.png") repeat scroll center top transparent;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

img {
    margin:0;
    padding:0;
    border:0;
}

div.top_menu{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 40px;
    background: #000;
}


div.top_menu  div.home{
    margin: 9px 25px;
}
div.top_menu  a{
    color: #fff;    
    text-decoration: none;
}

div.top_menu a:hover{
    text-decoration: underline;
}

div.top_menu div.title{
    margin: 0 25px;
    float: right;
}

div.top_menu div.title h1{
    font-size: 100%;
    font-weight: normal;
}
@media (min-width: 780px) and (max-width: 1137px){
    div.wrap{
        margin-left: -40%;
    }
}
@media (min-width: 1138px){
    div.wrap{
    width: 600px;
    margin-top: 8px;
    margin-left: -315px;

}}

div.border-wrap{
    background-clip: border-box;
    margin-left: -55px;
    background-origin: padding-box;
    background-size: auto;
    overflow: hidden;
    position: relative;
}

div.border-wrap h1{
	text-align: center;
	font-size: 24px;
}

div.border-wrap h2{
	font-size: 20px;
}

@media (max-width: 768px) {
    div.wrap{
        width: 600px;
        margin-top: 8px;
        margin-left: 0px;
    }
}