/* top nav */
.brand-logo{
    background-image: url("/../img/logo.png");
    width: 106px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 100%;
}

.user-logo {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}

.noty_bell{
    padding: 16px 0px;
    cursor: pointer;
    position: relative;
    color: #02c6ba55;
}

.noty_search{
    color: #02c6ba;
    padding: 0 15px;
    margin-top: 12px;
    display: block;
    width: 100%;
    border-radius: 15px;
    border: solid 1px #02c6ba55;

}

.tcount {
    padding: 4px;
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    background-color: #fd5f5f;
    border: solid 0 #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    right: 15px;
    top: 6px;
}

.noty_bell #count_noty{
    display: none;
    position: absolute;
    top: 8px;
    left: 10px;
    color: white;
}

/* sidebar menu*/
.navbar-fixed-left {
    background: #02C6BA;
    width: 81px;
    position: fixed;
    border-radius: 0;
    height: 100%;
    z-index: 5;
}
.navbar-fixed-left li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    height: 54px;
    display: table;
    width: 100%;
    transition: 0.3s;
    line-height: 14px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 0px 0px;

}

.navbar-fixed-left .active{
    background: #00B1A6;
}
.navbar-fixed-left li .link{
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.navbar-fixed-left li a:hover,
.navbar-fixed-left li a:active,
.navbar-fixed-left li a:focus {
    text-decoration: none;
    background: #00B1A6;
}

@media (min-width: 780px) {
    .slideout-panel {
        margin-left: 81px;
    }

    .slideout-menu {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        width: 81px;
        -webkit-overflow-scrolling: touch;
        display: block !important;
        overflow: hidden;
    }

    .btn-hamburger {
        display: none;
    }
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    width: 81px;
    -webkit-overflow-scrolling: touch;
    display: none;
    overflow: hidden;
}

.slideout-panel {
    position: relative;
    z-index: 2;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

/*menu icon*/

.navbar-fixed-left li {
    height: 54px;
    width: 100%;
}
.navbar-fixed-left .icon{
    display: inline-block;
    width: 80px;
    height: 54px;
}
.navbar-fixed-left .icon.home{
    background: url("/../img/menu/home.png") no-repeat center;
}
.navbar-fixed-left .icon.people{
    background: url("/../img/menu/people.png") no-repeat center;
}
.navbar-fixed-left .icon.dialog{
    background: url("/../img/menu/dialog.png") no-repeat center;
}
.navbar-fixed-left .icon.news{
    background: url("/../img/menu/news.png") no-repeat center;
}
.navbar-fixed-left .icon.course{
    background: url("/../img/menu/course.png") no-repeat center;
}
.navbar-fixed-left .icon.stream{
    background: url("/../img/menu/stream.png") no-repeat center;
}
.navbar-fixed-left .icon.setting{
    background: url("/../img/menu/setting.png") no-repeat center;
}
.navbar-fixed-left .icon.blog{
    background: url("/../img/menu/blog.png") no-repeat center;
}
.navbar-fixed-left .icon.search {
    background: url("/../img/menu/search.png") no-repeat center;
}
.navbar-fixed-left .icon.file {
    background: url("/../img/menu/file.png") no-repeat center;
}

/* main container */

#panel{
    height: 100vh;
}
#panel .container{
    margin-top: 54.5px;
    max-width: 1040px;
    width: 100%;
}
#panel .container, #panel .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-row{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
}

/* login form */
.add-margin-30{
    margin-top: 30px;
}
.form-title {
    color: #fff;
    text-align: center;
    padding: 5px 0 0 0;
    height: 50px;
    background-color: #02c6ba;
}
.form-content {
    height: auto;
    position: relative;
    padding: 40px;
    padding-top: 10px;
}
#enter_form {
    background-color: #fff;
    padding-left: 0px;
    padding-right: 0px;

}
.btn-login{
    width: 50%;
    height: 40px;
    object-fit: contain;
    background-color: #fe7820;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.btn-login:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fe7820e6;
}

.help-block{
    color: #737373;
    font-size: 14px;
}

.help-block a{
    text-decoration: none !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #02c6ba;
}

.help-block a:hover{
    color: #337ab7;
    text-decoration: none;

}
/* end login form */


/* user-page */
.box {
    border-radius: 0;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    width: 100%;
    object-fit: contain;
    background-color: #fff;
    padding: 20px 10px;
    /*margin-bottom: 18px;*/
}

.box h2 {
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #262626;
    padding-left: 10px;
    font-weight: 600;
}

.box ul, .box li {
    list-style: none;
    padding: 0;
}


/*.user-photo {
    height: 180px !important;
    margin-bottom: 18px;
    text-align: center;
}

.user-photo form{
    text-align: center;
}*/

.user-avatar{
    vertical-align: middle;
    border-radius: 3px;
}

#upload-avatar{
    display:none;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.user-no-avatar-sm{
    margin: 0 auto;
    margin-bottom: 0px;
    border-radius: 100px;
    margin-bottom: 7px;

}

.user-avatar-pic{
    /*width: 75%;*/
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.course-avatar-pic{
    /*width: 75%;*/
    width: 100%;
    /*height: 52px;*/
    object-fit: cover;
}

.other-course-avatar-pic{
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

div.followbox { margin-top: 18px; }

.followbox li {
    float: left;
    width: 33%;
    margin-top: 17px;
}

.followbox li img {
    display: block;
    margin: 0 auto 7px auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.followbox li p {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #828282;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.big-box{
    width: 100%;
    background-color: #fff;
    margin-bottom: 18px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding-top: 20px;
    padding-bottom: 13px;
}

.user-name{
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    color: #262626;
    margin-bottom: 18px;
}
.collapse-user-info{
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #02c6ba;

}
.full-info-padding-10{
    padding-top: 10px;
}

@media (max-width: 767px) {
    .user-info-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.user-course .tab-content {
    border: 3px solid #58baad;
    padding : 5px 15px;
    min-height: 350px;
    overflow: auto;
    max-height: 350px;
}
.user-course .nav-pills > li{
    width: 33.1%;
}
.user-course .nav{
    color: #fff !important;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.user-course .student{
    background-color: #58baad !important;
    color: #000;
}
.user-course .teacher{
    background-color: #e57335 !important;
    color: #000;
    opacity: 0.5;
}

.user-course .teacher_creator{
    background-color: black !important;
    color: #000;
    //float: right;
    opacity: 0.5;
}

.user-course .company_admin{
    background-color: black !important;
    color: #000;
    float: right;
    opacity: 0.5;
}

.user-course .create-new{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
}

.user-course .create-new-container{
    cursor: pointer;
    text-align: center;
}


.user-course .create-button{
    margin:0 auto;
}

.user-course .nav-pills > li > a {
    border-radius: 0;
    color: #fff;
}
.user-course .nav-pills > li > a:hover {
    border-radius: 0;
    color: #000;
}

.user-course {
    padding: 0 !important;
    box-shadow: none !important;
    background: none !important;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: transparent;
}

.add-marginb-15{
    margin-bottom: 15px;
}
.add-paddinglr-7{
    padding-left: 7px;
    padding-right: 7px;
}

.user-course .block{
    height: 332px;
}

.h160{
    height: 160px;
    max-height: 160px;
}
.h130{
    height: 80px;
    max-height: 130px;
}

.go_course .product{
    height: 50px;
    max-height: 50px;
}

.go_course .btn-container{
    padding-left: 20px;
    padding-right: 20px;
}

.go_course img{
    object-fit: contain;
    height: 50px;
}

.go_course .info h4 {
    font-size: 14px;
    line-height: 18px;
}

.go_course .btn, .go_card.btn  {
    font-size: 12px;
}
.bottomaligned {
    position:absolute;
    bottom:0;
    margin-bottom:7px;
    left: 0;
}
/* end user-page */

/* seacrh course*/
.block {
/*	display: block;
    position: relative;
    width: 295px;
    border-radius: 5px;*/
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.product {
    display: block;
    position: relative;
    max-height: 190px;
    overflow: hidden;
}

.product img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info {
    display: block;
    position: relative;
    padding: 20px;
}

.details {
    border-top: 1px solid #e5e5e5;
    padding: 18px 20px;
}

.buttons {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    -webkit-transition: opacity .25s ease-in;
    -ms-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    -o-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
}

.product:hover .buttons, .product:hover a {
    opacity: 1;
}

.buttons a {
    display: block;
    position: absolute;
    left: 50px;
    width: 155px;
    border-radius: 2px;
//padding: 15px 10px 15px 65px;
//font-family: Helvetica, sans-serif;

    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    opacity: 0;
}

a.buy {
    top: 20%;
}

a.preview {
    bottom: 20%;
}

.info::after {
    display: block;
    position: absolute;
    top: -8px;
    left: 23px;
    content: "";
    width: 15px;
    height: 15px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.info h4 {
    position: relative;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #372f2b;
    letter-spacing: -1px;
}

.info h4::after {
    display: block;
    position: absolute;
    bottom: 0px;
    content: "";
    width: 40px;
    height: 2px;
    background: #3b86c4;
}

.info .description {
    display: block;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #5f5f5f;
}

.info .price {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #372f2b;
    line-height: 26px;
}


.time {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #372f2b;
    background: url("../img/clock-icon.png") no-repeat;
    background-position: 0 2px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 15px;
}

.rating span.star {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
}

.rating span.star:hover {
    cursor: pointer;
}

.rating span.star:before {
    content: "\f006";
    padding-right: 5px;
    color: #999;
}

.rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
    content: "\f005";
    color: #e3cf7a;
}

/* end search course*/


/* create course */
.hide_block{
    display: none;
}

.help-error{
    color: #f25b5b;
    font-size: 14px;
}
.btn-left{
    float:left;
}

.btn-right{
    float:right;
}

.add-marginb-30{
    margin-bottom: 30px;
}

.centered{
    text-align: center;
}
#to_editor{
    height: 40px;
    object-fit: contain;
    background-color: #fe7820;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
/* end create course */

/* edit course */
.course-head-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    min-height: 100px;
    padding-top: 10px;
    padding-right: 0px;
}

.course-head-container .left-container{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.course-head-container .right-container{
    margin-top:-10px
}

.course-avatar-container{
    text-align: center;
    padding-right: 0px;
}

.course-avatar{
    width: 80px;
    height: 80px;
}

.course-name{
    font-size: 18px;
    font-weight: 600;
}

.btn-container {
    height: 40px;
}

.pointer {
    cursor: pointer;
}

.edit_bar_element_text{
    display: none;
}

.edit_bar_element_edit{
    background: #65d1cb;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    /*background-image: url('/img/course/editor/edit.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    float: right;
    margin-right: -15px;
}

.edit_bar_element_moderate{
    background: #65d1cb;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    /*background-image: url('/img/course/editor/to_moderate.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    float: right;
    margin-right: -15px;
}

.edit_bar_element_delete{
    background: #65d1cb;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    /*background-image: url('/img/course/editor/delete.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    float: right;
    margin-right: -15px;
}

.edit_bar_element_close{
    background: #65d1cb;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    /*
    background-image: url('/img/course/editor/cancel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    */
    float: right;
    margin-right: -15px;
}

.edit_bar_element_edit:hover{
    background: #00ada1;
    text-decoration: none;
    /*background-image: url('/img/course/editor/edit_hover.png');*/
}

.edit_bar_element_moderate:hover{
    background: #00ada1;
    text-decoration: none;
    /*background-image: url('/img/course/editor/to_moderate_hover.png');*/
}

.edit_bar_element_delete:hover{
    background: #00ada1;
    text-decoration: none;
    /*background-image: url('/img/course/editor/delete_hover.png');*/
}

.edit_bar_element_close:hover{
    background: #00ada1;
    text-decoration: none;
    /*background-image: url('/img/course/editor/cancel_hover.png');*/
}
.right-container span{
    font-size: 22px;
    color: #fff;


}

@media (max-width: 767px)  and (min-width: 662px)  {
    .edit_bar_element_text{
        display: block;
        border: 1px solid #abece8;
        height: 100%;
        padding: 9px 45px;
    }

    .edit-container:hover > .edit_bar_element_text{
        border: 1px solid #02c6ba;
    }

    .edit-container:hover > .edit_bar_element_edit{
        background: #00ada1;
        text-decoration: none;
       /* background-image: url('/img/course/editor/edit_hover.png');*/
    }

    .moderate-container:hover > .edit_bar_element_text{
        border: 1px solid #02c6ba;
    }

    .moderate-container:hover > .edit_bar_element_moderate{
        background: #00ada1;
        text-decoration: none;
       /* background-image: url('/img/course/editor/to_moderate_hover.png');*/
    }

    .delete-container:hover > .edit_bar_element_text{
        border: 1px solid #02c6ba;
    }

    .delete-container:hover > .edit_bar_element_delete{
        background: #00ada1;
        text-decoration: none;
        /*background-image: url('/img/course/editor/delete_hover.png');*/
    }

    .close-container:hover > .edit_bar_element_text{
        border: 1px solid #02c6ba;
    }

    .close-container:hover > .edit_bar_element_close{
        background: #00ada1;
        text-decoration: none;
       /* background-image: url('/img/course/editor/cancel_hover.png');*/
    }

}

@media (max-width: 767px) {
    .course-head-container .right-container{
        margin-top:0px;
        padding-bottom:10px;
    }

    .edit_bar_element_edit{
        background: #65d1cb;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: inline-block;
        /*background-image: url('/img/course/editor/edit.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;*/
        float: left;
        margin-right: 0px;
    }

    .edit_bar_element_moderate{
        background: #65d1cb;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: inline-block;
       /* background-image: url('/img/course/editor/to_moderate.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;*/
        float: left;
        margin-right: 0px;
    }

    .edit_bar_element_delete{
        background: #65d1cb;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: inline-block;
        /*
        background-image: url('/img/course/editor/delete.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;*/
        float: left;
        margin-right: 0px;
    }

    .edit_bar_element_close{
        background: #65d1cb;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        width: 40px;
        height: 40px;
        display: inline-block;
        /*
        background-image: url('/img/course/editor/cancel.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;*/
        float: left;
        margin-right: 0px;
    }

}

.input-name{
    background-color: #d0ebeb;
    border: none;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    margin: 20px 0px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.menu-lesson{
    overflow-y: hidden;
}
.accordion{
    overflow: auto;
    margin-left: -15px;
    margin-right: -15px;
}

.menu-lesson .navbar{
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
}

.add_lesson_btn{
    background: #65d1cb;
    padding: 7px 5px 5px 8px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    /*
    background-image: url('/img/course/editor/add_button.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;*/
    float: left;
    margin-right: -15px;
}


.add-lesson-container:hover > .add_lesson_text{
    border: 1px solid #02c6ba;
}

.add-lesson-container:hover > .add_lesson_btn{
    background: #00ada1;
    text-decoration: none;
   /* background-image: url('/img/course/editor/add_button_hover.png');*/
}
.add-lesson-container span{
    color:#fff;
    font-size: 24px;
}
.add_lesson_text{
    padding: 10px 0 0 32px;
    text-align: center;
    height: 40px;
    border: 1px solid #fff;
}

.nopadding{
    padding: 0px;
}
.lesson-container{
    height: 24px;
    border: 1px solid #22bdb4;
    line-height: 30px;
    background-color: #d0eced;
}
.lesson-container h3{
    font-size: 14px !important;
    line-height: 24px !important;
    margin: 0px 0 0 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson-container .add-new-sublesson, .lesson-container .del-lesson, .lesson-container .add-new-test, .lesson-container .del-sublesson, .lesson-container .add-new-subtest{
    background-color: #64d0ca;
    color: #ffffff;
    line-height: 21px;
    text-align: center;
    width: 24px;
    border: 1px solid #22bdb4;
    float: right;
}

lesson-container .add-new-sublesson:hover, .lesson-container .del-lesson:hover, .lesson-container .add-new-test:hover,.lesson-container .del-sublesson:hover, .lesson-container .add-new-subtest:hover{
    background-color: #02c6ba;
}

.lesson-container .lesson-icon{
    background-image: url('/img/course/lesson.png');
    height: 24px;
    background-position: center;
}

.lesson-container .lesson-sub-icon{
    background-image: url('/img/course/lesson-sub.png');
    height: 24px;
    background-position: center;
}

#deleteConfirmation .modal-content{
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0.2);
}
#deleteConfirmation .modal-header{
    background-color: #D0EBEB;
    color: #000;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.btn-clever{
    color: #fff;
    background-color: #64d0ca;
    border-color: #22bdb4;
}


.file_body{
    width:100%;
    height: 30px;
    border: 0px solid;
    cursor:pointer;
}
.file_name{
    width:95%;
    float:right;
    font-weight: bold;
    line-height: 20px;
    cursor:pointer;
}
.file_check{
    float: left;
    line-height: 20px;
    opacity: 1 !important;
}

.check input[type="checkbox"]{
    opacity: 1 !important;
}
.file_here{
    max-height: 400px;
    overflow-y: auto;
}

.fix_float {
    float: left!important;
}

.l_name{
    background-image: url("{{ location }}design/img2/editor/plugins/angle.png");
    background-repeat: no-repeat;
    padding-left: 16px;
    font-size: 14px;
    margin-top: 5px;
    cursor: pointer;
}

.l_child {
    background-image: url("{{ location }}design/img2/editor/plugins/angle.png");
    background-repeat: no-repeat;
    padding-left: 16px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 16px;
}

.course_over{
    max-height: 500px;
    overflow-y: hidden;
}
.course_menu{
    position: absolute;
    overflow: auto;
    max-height: 84%;
    width: 21%;
}
.course_name{

    line-height: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    width: 580px;
    margin-left: 26%;
}
.course_source{
    /*width: 560px;
    margin-left:20px;*/
    margin-left: 26%;
    margin-top: 6%;
    max-height: 423px;
    overflow-y: auto;

}
.local_link{
    cursor:pointer;
    color: #00B1A6;
}
/*stop edit course */

/* preview course */
.lesson-container-preview{
    height: 24px;
    border: 1px solid #22bdb4;
    line-height: 30px;
    background-color: #d0eced;
}
.lesson-container-preview h3{
    font-size: 14px !important;
    line-height: 24px !important;
    margin: 0px 0 0 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson-container-preview .lesson-icon{
    background-image: url('/img/course/lesson.png');
    height: 24px;
    background-position: center;
}

.lesson-container-preview .lesson-sub-icon{
    background-image: url('/img/course/lesson-sub.png');
    height: 24px;
    background-position: center;
}

.lesson_menu_text{
    padding: 10px 0 0 0px;
    text-align: center;
    height: 40px;
    border: 1px solid #fff;
}
/* stop preview course*/

/* edit book */
.book-head-container {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    padding-top: 10px;
    padding-right: 0px;
}

.book-head-container .left-container{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
}

.book-head-container .right-container{
    margin-top:-10px
}
.close-book{
    float: right;
}

.book-name-input input{
    width: 100%;
}
/* stop edit book*/


/* representation bootstrap css */
body {
    margin: 0;
    padding: 0;
    background: #F2FCFB;
    color: #191718;
    font-size: 13px;
}


.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-brand{
    padding: 0px 15px;
}

.drop-border{
    border-color: #fff !important;
}

.navbar-brand{
    padding: 0px 15px;
}

.navbar-default {
    background-color: #fff;
    border-color: #02c6ba55;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #02c6ba55;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #02c6ba;
    background-color: #fff;
}

.navbar-fixed-top {
    z-index: 3 !important;
    height: 54.5px;
}

.navbar-fixed-top .container {
    background: #fff;
}

@media (min-width: 780px) {
    .navbar-fixed-top .container {
        max-width: 960px;
        width: 75%;
    }
}

@media (max-width: 767px) {
    .navbar-fixed-top  .navbar-nav {
        margin: 1px -15px;
        border: solid 1px #02c6ba55;
    }
    .navbar-fixed-left  .navbar-nav {
        margin: -3px -1px;
        border: solid 1px #02c6ba55;
    }
}




/* style dump from index */
a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.faq .panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.faq .panel:last-child {
    border-bottom: none;
}

.faq .panel-group > .panel:first-child .panel-heading {
    border-radius: 0;
}

.faq .panel-group .panel {
    border-radius: 0;
}

.faq .panel-group .panel + .panel {
    margin-top: 0;
}

.faq .panel-heading {
    background-color: rgb(2, 198, 186);
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}

.faq .panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 22px;
    font-weight: 400;
}

.faq .panel-body {
    background: #fff;
}

.faq .panel:last-child .panel-body {
    border-radius: 0 ;
}

.faq .panel:last-child .panel-heading {
    border-radius: 0;
}

.faq .panel:last-child .panel-heading.active {
    border-radius: 0;

}

/* #bs-collapse icon scale option */

.faq .panel-heading a:before {
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
}

.faq .panel-heading.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#bs-collapse .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
    transform: scale(1);
    transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}
/*end this */

/* questions btn */
.question {
    cursor: pointer;
    position: absolute;
    border-radius: 40px;
    bottom: 20px;
    left: 15px;
    width: 50px;
    height: 50px;
    background: url('/img/menu/aiga_information_bg.png');
    background-size: 50px 50px;

}
.faq {
    display: none;
    margin-left: -81px;
    overflow: auto;
    padding: 0;
    z-index: 999;
    position: fixed;
    bottom: 0px;
    height: 100%;
    border: solid 1px rgb(2, 198, 186);
    background-color: #fff;
    left: 80px;
}
.faq .header {
    cursor: pointer;
    margin-left: 20px;
    background-image: url('/img/menu/close-arrow.png');
    height: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
}

.faq .close_btn {
    color: #fff;
    font-size: 18pt;
    margin-left: 70px;
}
.h15{
    height: 15px;
}
/*end question btn*/


/*card course */
#header{
    border:1px solid #ddd;
    margin-bottom:20px;
}


.navbar-brand-course{
    width:160px;
    height:160px;
    float:left;
    padding:0;
    margin-top:-130px;
    overflow:hidden;
    border:3px solid #eee;
    margin-left:15px;
    background:#333;
    text-align:center;
    line-height:154px;
    color:#fff !important;
    font-size:2em;
    -webkit-transition:  all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out ;

}


.site-name{
    color:#fff;
    font-size:2.2em;
    float:left;
    margin-top: 70px !important;
    margin-left:190px;
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
    line-height: 22pt;

}
.site-description{
    color:#fff;
    font-size:1.3em;
    float:left;
    margin-top:-30px !important;
    margin-left:15px;
}

.main-menu{
    position:absolute;
    left:190px;
}

.slider, .carousel{
    max-height:360px;
    overflow:hidden;
}

.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    font-size:2em;
    z-index: 5;
    display: inline-block;
}

.carousel-control{
    background-color:transparent;
    background-image:none !important;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    background-color:transparent !important;
    background-image:none !important;
    outline: 0;
}


@media (max-width: 768px) {
    .navbar-brand-course{
        max-width: 100px;
        max-height:100px;
        float:left;
        margin-top:-65px;
        margin-left:15px;
        -webkit-transition:  all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition:  all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out ;
        line-height: 94px;
    }

    .site-name{
        font-size: 14pt;
        margin-left: 120px;
    }



    .navbar{
        border-radius:0;
        margin-bottom:0;
        border:none;
    }

    .main-menu{
        left:0;
        position:relative;
    }




}

@media (max-width: 490px) {
    .site-name{
        color:#fff;
        font-size:1.8em;
        float:left;
        line-height:30px;
        margin-top: 50px !important;
        margin-left:25px;
    }
    .site-description{
        color:#fff;
        font-size:1.3em;
        float:left;
        margin-top:-80px !important;
        margin-left:125px;
    }

    .item{
        height: 400px;
    }
}

.ordered-list {
    counter-reset: myCouter;
    margin-left: -20px;
}

.li-lessons {
    list-style: outside none none;
    font-size: 1.5em;
}

.li-lessons::before {
    content: counter(myCouter, decimal);
    counter-increment: myCouter;

    background: #02C6BA none repeat scroll 0 0;
    color: white;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 5px 10px;
    text-align: center;
    width: 40px;
    border-radius: 20px;
}
/*end card course */

/* userpage user-avatar */
div.user-photo {
    background-color: #fff;
    box-shadow: 0 0 3px #ddd;
    border-radius: 5px;
    padding: 0;
    text-align: center;
    height: 244px;
}
div.user-photo form {
    width: inherit;
    height: inherit;
    position: relative;
}
div.user-photo a {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
form img.user-avatar{
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
  left: 0;
}
div.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
div.user-photo:hover form .user-avatar {
  opacity: 0.3;
}
div.user-photo:hover .middle {
  opacity: 1;
}
div.middle div.text {
  background-color: rgb(88, 186, 173);
  color: white;
    /* font-size: 16px; */
  padding: 14px 28px;
}

.course-avatar-upload:hover .course-avatar {
    opacity: 0.3;
}
.course-avatar-upload:hover .middle {
    opacity: 1;
}
/* end userpage  user-avatar */

