body {
    padding-top: 70px;
}
.users .h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
html {
    overflow-y: scroll;
}


.img-center {
	margin: 0 auto;
}

footer {
    margin: 50px 0;
}
#search_wrap {

}
#search_wrap, .profile {
    margin-top: 20px;
}

.form-options {
    padding-top: 20px;
}
.form-options .first {
    /*margin: 10px;*/
    /*border-radius: 2%;
    border: 1px solid #ddd;
    height: 300px;
    background-color: #FFF;*/
}
.profile img {
    object-fit: cover;
    cursor: pointer;
    width: 130px;
    height: 130px;
}
